doctype html
html
  head
    link(rel='stylesheet', href='/meta-service/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/meta-service/stylesheets/bootstrap.min.css')
  body
    div.container
      block content
