extends layout

block content
  button(class="btn btn-default", id="btnPushNotifications", name="btnPushNotifications").
  p #{title}

  script(type='text/javascript', src=namespace + '/javascripts/main.js')
